    <div class="col">
      <a class="waves-effect waves-light btn" href="/days">Days</a>
    </div>
    <div class="col">
      <a class="waves-effect waves-light btn" href="/days/new">New Day</a>
    </div>
