    <div class="col">
      <a class="waves-effect waves-light btn" href="/meals">Meals</a>
    </div>
    <div class="col">
      <a class="waves-effect waves-light btn" href="/meals/new">New Meal</a>
    </div>
